/* NAVI */

#navi-back
{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -10;
}

#navi
{
    position: fixed;
    display: flex;
	height: 70px;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0;

    z-index: 20;

	font-size: 22pt;
	color: #ffffff;
	
    align-items: center;
    justify-items: center;
    justify-content: space-between;

    background-color: rgba(0, 0, 0, 1);

	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;

	box-shadow: 0 0 5px 10px rgba(0, 0, 0, 1);
}

.navi-block {
	height: 100%;
	text-align: center;
	line-height: 70px;
}

#left {
	display: flex;
	width: 450px;
}

#right {
	display: flex;
	width: 450px;
}

#mobile-left, #mobile-center, #mobile-right {
	display: none;
}

#navi-separator {
	width: 3px;
	height: 100%;
	opacity: 0.5;
	background-color: var(--accent); /* FFDE80  255, 222, 128 */

	-webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 1);
}

#navi-separator.night {
	opacity: 0.15;
}

/* LINKS */
#navi-links {
	position: relative;
	width: 50%;
	height: 100%;

	text-align: center;
	cursor: pointer;

	opacity: 0.7;	
	transition: All 0.2s ease;
}

#navi-links:hover {
	opacity: 1;
	filter: drop-shadow(0px 0px 3px rgba(var(--accentR), var(--accentG), var(--accentB), 0.7));
	-webkit-filter: drop-shadow(0px 0px 3px rgba(var(--accentR), var(--accentG), var(--accentB), 0.7));
}

#navi-links:active {

}

/* AIR */
#navi-air, #navi-air-mobile
{
	position: relative;
	width: 50%;
	height: 100%;

	text-align: center;
	cursor: pointer;

	opacity: 0.7;
	transition: all 0.2s ease;
}

#navi-air:hover, #navi-air-mobile:hover {
	opacity: 1;
	filter: drop-shadow(0px 0px 3px rgba(var(--accentR), var(--accentG), var(--accentB), 0.7));
	-webkit-filter: drop-shadow(0px 0px 3px rgba(var(--accentR), var(--accentG), var(--accentB), 0.7));
}

#navi-air:active, #navi-air-mobile:active {

}

#navi-air-mobile
{
	width: 100%;
	display: none;
}

#navi-air:hover, #navi-air-mobile:hover
{
	opacity: 1;
}


/* ACTIVE */

#panel-active-links
{
	background-color: rgba(var(--accentR), var(--accentG), var(--accentB), 0.2);
	position: absolute;
	z-index: -10;
	height: 70px;
	width: 225px;
	left: 0px;
	bottom: 0px;
	display: none;
	opacity: 0;
	box-shadow:	0 0 7px 2px inset rgba(0, 0, 0, 1);
}

#panel-active-air
{
	background-color: rgba(var(--accentR), var(--accentG), var(--accentB), 0.2);
	position: absolute;
	z-index: -10;
	height: 70px;
	width: 225px;
	left: 225px;
	bottom: 0px;
	display: none;
	opacity: 0;
	box-shadow:	0 0 7px 2px inset rgba(0, 0, 0, 1);
}

/* LOGO */
#navi-logo {
	position: absolute;
	padding: 0;

    z-index: 100;

    opacity: 0.7;
    bottom: 3px;
	left: 50%;
    transform: translate(-50%, 0);
    transition: All 0.2s ease;
    cursor: pointer;

	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;

	filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.5));
	-webkit-filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.5));
}

#navi-logo img {
	height: 60px;
}

#navi-logo:hover {
	opacity: 1;	
}

.navi-block-content {
	opacity: 0.7;

	display: flex;
    align-items: center;
	justify-content: center;
}

.navi-block-content:hover {
	opacity: 1;
	filter: drop-shadow(0px 0px 3px rgba(var(--accentR), var(--accentG), var(--accentB), 0.7));
	-webkit-filter: drop-shadow(0px 0px 3px rgba(var(--accentR), var(--accentG), var(--accentB), 0.7));
}



/* VOLUME */
#volume-container
{
	width: 200px;
	height: 100%;

	padding-left: 10px;
	padding-right: 10px;
}

/* SPEAKER */
#volume-speaker
{
	width: 75px;
	margin-left: 25px;
	justify-content: right;
	cursor: pointer;
	transition: All 0.2s ease;
}


/* VOLUME RANGE */
#volume-range
{
	width: 100%;
	height: 100%;

	cursor: pointer;
}

/* BACKGROUNG SWITCHER */
#switch-back
{
	width: 75px;
	margin: 0 15px 0 25px;
}


/* LISTENERS*/
#listeners-container
{
	width: 100px;
	pointer-events: none;
}

#listeners-alt-container
{
	opacity: 0.8;
    display: none;
}

/* MOBILE BUTTON */

.mobile-button{
	vertical-align: middle;
	display: inline;
	width: 32px;
}

/* M ВЁРСТКА - Без логотипа */
@media (max-width: 1100px){
	#navi-logo{
		display: none;
	}
}

/* S ВЁРСТКА - Прортретная для телефонов */
@media (max-width: 800px), (max-height: 500px){
	
	#volume-container, #volume-speaker, #standalone-only
	{
		display: none;
	}

	#listeners-container
	{
		display: none;
	}
	#listeners-alt-container
	{    
	    display: inline;
	}

	#switch-back{
		width: 100%;
	}

	#navi-links{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#navi-air{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#mobile-button{
		vertical-align: middle;
		display: inline;
		width: 32px;
	}

	#navi-logo{
		display: none;
	}

	#left {
    	width: 67%;
	}

	#right {
    	width: 33%;
	}

	#panel-active-links{
		width: 33%;
	}

	#panel-active-air{
		width: 33%;
		left: 34%;
	}
}

/* XS ВЁРСТКА - Совсем маленбкая вёрстка жесть */
@media (max-width: 300px), (max-height: 400px){
	#navi{
		display: none;
	}
}