/* Carousel */
.carousel {
     position: relative;
     width: 100%;
     overflow: hidden;
}

.carousel-track {
     display: flex;
     transition: transform 0.4s ease-in-out;
     width: 400%;
}

.carousel-item {
     flex: 0 0 25%;
     display: flex;
     align-items: center;
     justify-content: center;
}

.carousel-btn {
     width: 50px;
     height: 50px;
     position: absolute;
     top: 50%;
     transform: translateY(-30%);
     background: transparent;
     border: none;
     cursor: pointer;
     z-index: 1;
}

.carousel-btn img {
     position: absolute;
     left: 0;
     top: 50%;
     transform: translateY(-50%);
     filter: none;
     transition: transform 0.2s, filter 0.2s;
}

.carousel-btn:hover img {
     filter: drop-shadow(
          0 0 5px rgba(var(--accentR), var(--accentG), var(--accentB), 1)
     );
     transform: translateY(-50%) scale(1.2);
}

.carousel-btn.left {
     left: 0;
     margin-left: 30px;
}

.carousel-btn.right {
     right: 0;
     margin-right: 30px;
}

@media (max-width: 500px) {
     .carousel-btn {
          transform: translateY(-100%);
     }
}
