.carousel {
     position: relative;
     width: 100%;
     overflow: hidden;
}

.carousel-track {
     display: flex;
     transition: transform 0.4s ease-in-out;
     width: 400%;
}

.carousel-item {
     flex: 0 0 25%;
}

.carousel-btn {
     width: 50px;
     height: 50px;
     position: absolute;
     top: 50%;
     transform: translateY(-30%);
     background: transparent;
     border: none;
     cursor: pointer;
     z-index: 1;
     transition: opacity 0.3s ease;
}

.carousel-btn img {
     position: absolute;
     left: 0;
     top: 50%;
     transform: translateY(-50%);
     transition: transform 0.2s, filter 0.2s;
}

.carousel-btn:hover img {
     filter: drop-shadow(
          0 0 5px rgba(var(--accentR), var(--accentG), var(--accentB), 1)
     );
     transform: translateY(-50%) scale(1.2);
}

.carousel-btn.left {
     display: none; 
     left: 0;
}
.carousel-btn.left:active {
     transform: translateY(-30%) translateX(-20%);
     transition: transform 0.2s ease-in-out;
}

.carousel-btn.right {
     right: 0;
}

.carousel-btn.right:active {
     transform: translateY(-30%) translateX(20%);
     transition: transform 0.2s ease-in-out;
}

